.topten-main {
  padding-top: 100px;
  padding-bottom: 80px;
}

.title-topten {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.title-topten > img {
  width: 60px;
}
.title-topten > h4 {
  color: var(--primary);
  font-weight: 500;
  margin-top: 10px;
}
.title-topten > p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 6px;
}
.list-topten {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem 1.5rem;
}
.topten-card {
  display: flex;
  background-color: white;
  color: var(--primary);
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.01);
}
.topten-card:hover {
  filter: brightness(0.99);
}
.topten-card > img {
  width: 50px;
  height: 50px;
}
.topten-card > p {
  font-size: 14px;
}
.topten-card > .club-topten {
  flex: 0.5;
}
.likes-count {
  display: flex;
  align-items: center;
  gap: 4px;
}
.loadingtopten {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary);
}
@keyframes bounce {
  from {
    transform: translate3d(0, 20px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.bouncetopten {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 30px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background-color: var(--primary);
}
