.top-favorite {
  margin-bottom: 40px;
}

.favorite-title {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.favorite-title .trophy-icon {
  width: 20px;
}
.favorite-title h3 {
  margin-left: 10px;
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary);
}

.showcase-top-jersey {
  margin: 1.5rem 1rem;
  border-radius: 20px;
}

.carousel-item {
  width: 300px !important;
  display: flex;
  justify-content: center;
}

.slider-jersey {
  width: 100%;
}

@media (max-width: 480px) {
  .carousel-item {
    width: 250px !important;
  }
}
