.detailpage {
  background-color: rgba(0, 0, 0, 0.01);
  max-width: 758px;
  margin: auto;
  color: var(--primary);
  min-height: 100vh;
}

.detailpage > header {
  position: fixed;
  width: 100%;
  z-index: 30;
}

.detail-header {
  max-width: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
}

.detail-back-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  transition-duration: 0.2s;
  background-color: white;
  box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.02);
}

.detail-back-button:hover {
  background-color: var(--alter);
}

.detail-main {
  width: 100%;
}

.top-main {
  padding: 40px;
  padding-top: 60px;
  border-radius: 0 0 20px 20px;
  display: flex;
  gap: 30px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.selected-container-item {
  flex: 0.25;
  display: flex;
  flex-direction: column;
}

.image-container-item {
  flex: 0.75;
  height: 400px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 20px 0 0 20px;
}

.image-container-item > h4 {
  position: absolute;
  top: 30px;
  font-weight: 600;
  margin-top: 10px;
  font-size: 24px;
}

.image-container-item > img {
  width: 400px;
}

.select-item {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  transition-duration: 0.2s;
}
.select-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.select-item > img {
  width: 60px;
  height: 60px;
}

@media (max-width: 480px) {
  .top-main {
    flex-direction: column-reverse;
  }
  .selected-container-item {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }
  .select-item {
    padding: 20px;
    margin: 5px;
  }
  .top-main {
    padding-top: 0;
  }
}

.club-name {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.club-name > img {
  width: 40px;
}

.club-name > h3 {
  font-weight: 400;
  font-size: 18px;
}

.desc-jersey {
  padding: 20px 2rem;
}

.menu-desc {
  padding: 8px 14px;
  background-color: var(--alter);
  border-radius: 10px;
  font-size: 14px;
  display: inline;
}

.desc-jersey > p {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1.5rem;
}

.specs {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

.bottom-main {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 80px;
  border-radius: 30px 30px 0 0;
}

.likes-section {
  background-color: var(--bggray);
  border-radius: 20px;
  margin: 0 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.02);
}

.likes-section > div {
  padding: 10px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.likes-section > .likes {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
}
.likes-section > .material {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
}
.likes-section > .season {
  color: rgba(0, 0, 0, 0.8);
}

.likes > p {
  font-size: 14px;
  margin: 2px;
}
.material > p {
  font-size: 14px;
  margin: 2px;
}
.season > p {
  font-size: 14px;
  margin: 2px;
}

.foot-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.foot-container > .footer {
  max-width: 368px;
  margin: auto;
  display: flex;
  margin-bottom: 20px;
  border-radius: 30px;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  color: white;
  gap: 0 10px;
  font-size: 14px;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #fc7272;
  transition-duration: 0.2s;
  cursor: pointer;
}
.foot-container > .footer:hover {
  filter: brightness(1.05);
}

.loadingdata {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary);
}
@keyframes bounce {
  from {
    transform: translate3d(0, 20px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.bounce {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 30px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background-color: var(--primary);
}
.clicking-loading {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 30;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
}
